/* Candle Store
   ========================================================================== */

#navbar {
  padding: 1em;  
  background-color: #f7f7f9;
}

#navbar-brand {
  color: #8e869d;
  text-decoration: none;
}

#navbar-brand:hover {
  color: #373a3c;
}

#content {
  padding: 0 1em;
}

#product-images {
  width: 25%;  
  float: left;
}

#product-form, #collection-controls {
  width: 25%;
  margin-left: 5%;
  float: left;
}

#product-form label {
  display: block;
  margin: 1em 0 0.5em 0;
}

.swatch {
  display: inline-block;
  border: 1px solid black;
  width: 24px;
  height: 24px;
}

.selector-wrapper {
  display: none;
}

.no-js .swatch-wrapper {
  display: none;
}

#collection-products {
  width: 40%;
  float: left;
}

#collection-controls {
  width: 25%;
  margin-left: 5%;
  float: left;
}

.product-list {
  display: block;
  padding: 0;
  margin: 0;
}

.product-list .product {
  list-style: none;
  display: block;
  float: left;
  width: 33%;
  padding: 0;
  text-align: center;
}

.product-list .product:nth-child(3n+1) {
  clear: both;
}

.product-list .product a {
  display: block;
}

.product-list .product-image {
  display: block;
  width: 100%;
}

.product-list .product-details {
  display: block;
}
